

.hero-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    z-index: 1;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}



.container,
.content-section,
.card {
    background: linear-gradient(135deg, #ffb6c1, #e0ffff, #f5f5dc);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
}

.card{
    background: linear-gradient(135deg, #f5f5dc, #e0ffff, #ffb6c1) !important;
}

/* Footer styling */
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}